ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.boards > li {
  padding: 0;
  margin-bottom: 20px;
}

.board-index-item {
  font-weight: bold;
  text-align: left;
  line-height: 1em;
  height: 100px;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.board-show {
  background: blue;
  min-height: 600px;
}

.board-title {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
}
