ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.boards > li {
  padding: 0;
  margin-bottom: 20px;
}

.board-index-item {
  font-weight: bold;
  text-align: left;
  line-height: 1em;
  height: 100px;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.board-show {
  background: blue;
  overflow-x: scroll;
  min-height: 600px;
}

.board-title {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
}

.new-board {
  background: lightgrey;
}

.new-board:hover {
  background: grey;
}

#new-board-container {
  padding: 0px;
}

.create {
  background: green;
}

input {
  display: block;
  width: 90%;
}

.btn.create {
  display: block;
}

input.text {
  cursor: text;
}