div.list {
  background: grey;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

.list-title {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

.cards {
  margin-top: 20px;
  min-height: 20px;
}

.card-title {
  background: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.card-title:hover {
  background-color: lightgrey;
}

#lists-container {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  min-height: 200px;
}

ul.lists {
  display: inline-block;
  vertical-align: top
}

li.list {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

#new-list {
  display: inline-block;
  width: 200px;
}

#list_title {
  display: block;
}