div.list {
  background: grey;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

.list-title {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

.cards {
  margin-top: 20px;
}

.card-title {
  background: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.card-title:hover {
  background-color: lightgrey;
}

ul.lists {
  position: relative;
}

li.list {
  float: left;
  margin-right: 20px;
  top: 0%;
}